<!DOCTYPE html>
<!--
=========================================================
* Argon Design System - v1.2.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (http://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <title>
    Shine N Go | Auto Detailing
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <link href="./assets/css/font-awesome.css" rel="stylesheet" />
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="./assets/css/argon-design-system.css?v=1.2.0" rel="stylesheet" />
</head>

<body onload="getStorage(); countD();" class="index-page">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="./index.html">

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">

              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
       <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" role="button">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Shine N Go Auto Detailing ::: Menu</span>
            </a>
            <div class="dropdown-menu dropdown-menu-xl">
              <div class="dropdown-menu-inner">
                <a href="index.html#about" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                    <i class="ni ni-book-bookmark"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">About Us</h6>
                    <p class="description d-none d-md-inline-block mb-0">Learn more about Shine N Go - Auto Detailing</p>
                  </div>
                </a>
                <a href="index.html#services" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-badge"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">Services</h6>
                    <p class="description d-none d-md-inline-block mb-0">Learn more about the service we provide</p>
                  </div>
                </a>
                <a href="index.html#request" class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-calendar-grid-58"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h5 class="heading text-warning mb-md-1">Request and appointment </h5>
                    <p class="description d-none d-md-inline-block mb-0">Request an Appointment for us to come and put a shine to your ride</p>
                  </div>
                </a>
              </div>
            </div>
          </li>

        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.facebook.com/MrReggieMcCoy" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>




        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="section section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="page-header">
		  <div class="col-lg-12">
		  <img src="designer_assets/shineNGo_HeroImage1.jpg" alt="hero Image" width="100%">
		  </div>
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">

                <div class="btn-wrapper mt-5">
                  <a href="https://www.facebook.com/MrReggieMcCoy" target="_blank" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fa fa-facebook-f"></i></span>
                    <span class="btn-inner--text">Like Us On Facebook</span>
                  </a><br><br>
                  <a href="https://github.com/creativetimofficial/argon-design-system" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                    <span class="btn-inner--icon"><i class="fa fa-clock"></i></span>
                    <span class="btn-inner--text"><span class="text-warning">Book Your Appointment</span> Now</span>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
	</div>

	    <div class="section" style="background-image: url('./assets/img/ill/1.svg');">
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded overflow-hidden transform-perspective-left">
            <div id="carousel_example" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel_example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel_example" data-slide-to="1"></li>
                <li data-target="#carousel_example" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="img-fluid" src="designer_assets/43879084_2289914274413255_5398775394310553600_n.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="img-fluid" src="designer_assets/79220119_3311214492283223_1809644088887083008_n.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="img-fluid" src="designer_assets/101325129_3903436193061047_8205092521412395008_n.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel_example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel_example" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-5 mb-lg-0">
			<h3 class="font-weight-light">Shine N Go <span>Auto Detailing</span></h3>
			<p>Mobile Wash and Auto Detailing Company</p>
          <p class="lead mt-4">We don't just wash cars, we take pride into detailing and bringing your car back to life. 8 years strong and counting and we would love to be your #1 choice for your car, truck, boat.....If it has wheels, we are the real deal. Shine N Go Auto Detailing specializes in commercial and residential areas. Thanks in advance, and we look forward to hearing from you soon..</p>
          <a href="https://demos.creative-tim.com/argon-design-system/docs/components/carousel.html" class="btn btn-primary mt-4">Book Your Appointment Now</a>
        </div>


      </div>
		<br>
		<hr>
		<br>
		<div class="text-center"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FMrReggieMcCoy%2Fposts%2F3792184294186238&show_text=true&width=552&height=457&appId" width="80%" height="457" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
    </div>
  </div>

	  <!-- Services Section -->

<div class="section section-components">
      <div class="container">
        <h1 class="h4 text-success font-weight-bold mb-4">SERVICES</h1>
		  <small>Check out The Services We provide</small>
		  <p class="lead text-muted">We are mobile, and for your convenience we come to you. There is an additional charge to travel outside of 20 miles from the Florissant area. We take cash and credit cards. We also accept tips. Thank you, in advance for your support! </p>
          <div class="row justify-content-center">

            <div class="col-lg mt-5 mt-lg-0">
              <!-- Menu -->
              <div class="mb-3">

              </div>
              <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Basic Car Wash</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false">Basic Wash- SUV</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false">Interior Detail Only - <i>Car</i></a>
                  </li>
					  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-4-tab" data-toggle="tab" href="#tabs-text-4" role="tab" aria-controls="tabs-text-3" aria-selected="false">Interior Detail Only - <i>SUV</i></a>
                  </li>
				  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-5-tab" data-toggle="tab" href="#tabs-text-5" role="tab" aria-controls="tabs-text-3" aria-selected="false">Platinum Detail - <i>Car</i></a>
                  </li>

					  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-6-tab" data-toggle="tab" href="#tabs-text-6" role="tab" aria-controls="tabs-text-3" aria-selected="false">Platinum Detail - <i>SUV</i></a>
                  </li>
                </ul>
              </div>
              <div class="card shadow">
                <div class="card-body">

				<!-- Start services Tab Content -->

					<div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
						<img src="designer_assets/shineNGoServices1.jpg" width="100%" alt="Basic Car Wash">

						</div>

                    <div class="tab-pane fade" id="tabs-text-2" role="tabpanel" aria-labelledby="tabs-text-2-tab">
                      <p class="description"><img src="designer_assets/shineNGoServices2.jpg" width="100%" alt="Basic Wash- SUV"></p>
                    </div>

					<div class="tab-pane fade" id="tabs-text-3" role="tabpanel" aria-labelledby="tabs-text-3-tab">
                      <p class="description"><img src="designer_assets/shineNGoServices3.jpg" alt="Interior Car Detail Only" width="100%"></p>
                    </div>

					<div class="tab-pane fade" id="tabs-text-4" role="tabpanel" aria-labelledby="tabs-text-4-tab">
                      <p class="description"><img src="designer_assets/shineNGoServices4.jpg" alt="Interior Car Detail Only" width="100%"></p>
                    </div>

					<div class="tab-pane fade" id="tabs-text-5" role="tabpanel" aria-labelledby="tabs-text-5-tab">
                      <p class="description"><img src="designer_assets/shineNGoServices5.jpg" alt="Interior Car Detail Only" width="100%"></p>
                    </div>

					<div class="tab-pane fade" id="tabs-text-6" role="tabpanel" aria-labelledby="tabs-text-6-tab">
                      <p class="description"><img src="designer_assets/shineNGoServices6.jpg" alt="Interior Car Detail Only" width="100%"></p>
                    </div>

                  </div>
					<!-- End Services Tab Content -->
					<br>

                </div>
              </div>
            </div>
          </div>






		 </div>
	  </div>

	   <div class="py-5 bg-secondary" id="thank_you">
			  	<div class="container">
					 <div class="mb-3 text-center">
						 <h2 class="mb-5">Thank You for choosing <strong>Shine N Go | Auto Detailing</strong> </h2>
             <hr>
             <h3>Appointment Details</h3>
             
             <h1>Thank you!</h1>
             <h2>For your appointment request</h2>
             <h4><strong>Appointment Request Details</strong></h4>
             <hr>
         <p><strong>Company: </strong><%= data.company %> </p>    
         <p><strong>Customer Name: </strong> <%= data.fname + " " + data.lname %> </p>
         <p><strong>Address: </strong><%= data.address + " " +data.city+ " " + data.state+ " " + data.zipCode %></p>
         <p><strong>Phone Number:</strong><%= data.phoneNumber %> </p>
         <p><strong>Email Address: </strong><%= data.email %></p><br> <br>
         <h4>Requested Appointment Information </h4>
         <hr>
         <p><strong>Date Requested: </strong><%= data.date%></p>
         <p><strong>Time Slot Requested: </strong><%= data.time %></p>
         <p><strong>Appointment Comments: </strong><%= data.comments %></p>
         
         <hr>
         <button onclick='window.print()'>Print this Page</button>
         <a href="https://www.shinengo-detail.com/"><button>Return to Home Page</button></a>    

         <p>Page Redirecting in:  <span id="counterOutput"></span> seconds </p>


             <hr>
            <small class="text-uppercase font-weight-bold">We look forward to serving you<br> and we will contact you soon in regards to your request</small><br>
						 <img src="designer_assets/1506909_631703356901030_1968369636_n.jpg" width="50%" alt="ShineNGo Company Logo"><br><p></p><h2>314-229-8199</h2><p>Call us for any further questions or concerns</p>
          </div>


				  </div>

			  </div>
























  <footer class="footer has-cards">
  <footer class="footer has-cards">

    <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2020 <a href="" target="_blank">Shine N Go | Auto Detailing</a> <p>314-229-8199</p>
			  <br>Developed by <a href="https://www.aboveall-media.tech/" target="_blank"> Above All Media, LLC. </a>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">

            <li class="nav-item">
              <a href="index.html#about" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="index.html#services" class="nav-link" target="_blank">Services</a>
            </li>
            <li class="nav-item">
              <a href="index.html#request" class="nav-link" target="_blank">Make An Appointment</a>
            </li>
          </ul>
        </div>
      </div>
  </footer>

  </footer>

  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="./assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <script src="./assets/js/plugins/moment.min.js"></script>
  <script src="./assets/js/plugins/datetimepicker.js" type="text/javascript"></script>
  <script src="./assets/js/plugins/bootstrap-datepicker.min.js"></script>
  <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="./assets/js/argon-design-system.min.js?v=1.2.0" type="text/javascript"></script>
  <script>
    function scrollToDownload() {

      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-design-system-pro"
      });
  </script>
  <script src="process.js"></script>

  <script>
    countDown = 90;
    function countD(){
      
    document.getElementById('counterOutput').innerHTML = countDown; 
    
    if(countDown > 1){
      countDown --; 
    }else{
      countDown = 0; 
      window.location.replace('https://www.shinengo-detail.com/');
      }
    setTimeout("countD()", 90000); 
    
    }
    
    </script>
			</body>

</html>
